@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

main {
    flex-grow: 1;
}
  
footer {
    flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}

.font-roboto-slab {
    font-family: 'Roboto Slab';
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

#publicNavBar {
    background-color: #39B5A4;
}

.eventCard .bannerCard {
    height: 300px;
}

.eventCard .bannerCard img {
    object-fit: cover;
    max-height: 300px;
    height: 100%;
    width: 100%;
}

.eventCard .bannerCard .dateCard .date {
    background: rgba(171, 82, 0, 0.7);
}

.eventCard .bannerCard .dateCard .month {
    background: rgba(40, 84, 48, 0.7);
}

.form-signin {
    max-width: 500px;
    padding: 15px;
}

.form-register {
    max-width: 500px;
    padding: 15px;
}

.carousel-content {
    color:#fff;
    position:absolute;
    z-index:100;
    top:20%;
    left:20%;
    width:100%;
    text-align:left;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.icon-size {
    height: 1.50rem;
    width: 1.50rem;
}

.badge, .form-control, .form-select, .btn, .modal-content {
    border-radius: 0;
}

.dataTables_info, .dataTables_paginate, .dt-buttons, .dataTables_length, .dataTables_filter {
    display: inline-block !important;
    margin-right: 10px;
    }


.dataTables_filter, .dataTables_paginate {
    float: right !important;
    margin-bottom: 10px;
}

.dataTables_filter {
    margin-right: 0px;
}

.event-items:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.event-items > .dateWrapper {
    display: none;
}

.event-items .event-date {
    display: block;
}

.tox-promotion {
    display: none;
}

#eventBody img{
    max-width: 100%;
}

#bg-login {
    position: absolute;
    bottom: 5%;
    right: 20%;
    z-index: -1;
    margin-bottom: 50px;
}

#bg-login img {
    width: 500px;
    margin-left: auto;
    display: block;
}

#bg-register {
    position: absolute;
    bottom: 10%;
    right:  5%;
    z-index: -1;
    margin-bottom: 50px;
}

#bg-register img {
    width: 500px;
    margin-left: auto;
    display: block;
}

@media (min-width: 992px) { 
    .event-items > .dateWrapper {
        display: block;
    }

    .event-items  .event-date {
        display: none;
    }
}
ul#userSidebar {
    padding-left: 0;
}

ul#userSidebar li {
    list-style-type: none;
}

ul#userSidebar li a {
    text-decoration: none;
    display: block;
}

ul#userSidebar li > a.active, ul#userSidebar li > a:hover, ul#userSidebar li > span:hover, ul#userSidebar li > span:hover a {
    background-color: #3CB3A3;
    color: white !important;
}

/* .fc-day-grid-event .fc-content {
    white-space: inherit !important;
} */

.notification-pill {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

#calendar a {
    text-decoration: none;
    color: inherit;
}