body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
  
footer {
    flex-shrink: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-register {
    max-width: 500px;
    padding: 15px;
}

.carousel-content {
    color:#fff;
    position:absolute;
    z-index:100;
    top:20%;
    left:20%;
    width:100%;
    text-align:left;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.icon-size {
    height: 1.50rem;
    width: 1.50rem;
}

.badge, .form-control, .form-select, .btn, .modal-content {
    border-radius: 0;
}

.dataTables_info, .dataTables_paginate, .dt-buttons, .dataTables_length, .dataTables_filter {
    display: inline-block !important;
    margin-right: 10px;
    }


.dataTables_filter, .dataTables_paginate {
    float: right !important;
}